* {
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    -webkit-text-stroke-color: black;
}
.container {
    margin: auto; 
    width: 363px;
}
h1 {
	font-size: 50px;
    text-align: center;
    color: white;
	-webkit-text-stroke-width: 2px;
}
h2 {
    color: white;
    -webkit-text-stroke-width: 1px;
}
#input {
    font-size: 40px;
}
#cityName {
    height: 24px;
} 
#country, .submit-btn {
    height: 30px;
}
.submit-btn, #country, #cityName, .result-container {
    border: 1.5px solid black; 
    border-radius: 5px; 
    background: white;
}
.result-inner-div  {
    background: white;
    padding: 5px;
    border: 1.5px solid black;
    border-radius: 5px;
}
.submit-btn:hover {
    cursor: pointer;
    background: black;
    color: white;
}
.result-inner-div {
    margin: auto;     
    padding-top: 10px;
    padding-bottom: 10px;
}
